body{
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    width: 100%;
    overflow-x: hidden;
}

ul{
    margin: 0px;
    height: 40px;
}

li a{
    text-decoration: none;
    color: black;
}


.navbar{
    height: 40px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}


#logo img{
    transform: rotate(180);
    width: 40px;
    height: auto;
    position: relative;
    top: 2px;
    float: left;
}

#logo{
    width: 60px;
    display: inline-flex;
}

#explore{
    width: 70px;
    display: inline-flex;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    bottom: 15px;
    left: 850px;
}

#read{
    width: 70px;
    display: inline-flex;
    position: relative;
    margin-right: -10px;
    margin-left: 5px;
    bottom: 10px;
    left: 870px;
}

#connect{
    width: 70px;
    display: inline-flex;
    position: relative;
    margin-right: 5px;
    margin-left: -5px;
    bottom: 10px;
    left: 890px;
}

#workshop{
    width: 70px;
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    margin-left: 5px;
    bottom: 10px;
    left: 900px;
}

#shop{
    width: 70px;
    display: inline-flex;
    position: relative;
    bottom: 10px;
    color: #ff764d;
    left: 940px;
}

.whyimg{
    background-image: url(/images/about/why.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 100px;
    left: 150px;
    z-index: 10;
    transform: rotate(0deg);
}

.why{
    width: 1000px;
    height: 500px;
    display: flexbox;
    justify-content: center;
    position: relative;
    left: 30%;
    background-color: #fbffa7;
    bottom: 500px;
}

.why h1{
    width: 700px;
    margin-top: 150px;
    position: relative;
    top: 100px;
    left: 20%;
}

.why p{
    position: relative;
    left: 20%;
    width: 700px;
    top: 100px;
    line-height: 2;
}
.emphasis{
    color: #ff764d;
}